:root {
    ---pr-color: #00985B;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(255, 255, 255);
}


/* nav-bar */

.navbar {
    z-index: 3;
}

.nav-color {
    background-color: var(---pr-color);
    transition: all ease-in-out 0.3s;
}

* {
    z-index: 2;
}

.accent-img {
    z-index: 1;
}

.navbar-brand {
    font-weight: 700;
    font-size: 20px;
}

.nav-link {
    font-size: 16px;
}

.nav-link.active {
    font-weight: 700;
}

.button-primary {
    width: 133px;
    height: 40px;
    background-color: white;
    color: var(---pr-color);
    border: none;
    font-size: 16px;
    font-weight: 700;
}

.button-secondary {
    width: 133px;
    height: 40px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 400;
}


/* hero-section */

#hero {
    background: linear-gradient(160deg, var(---pr-color), #035B38);
    height: 100vh;
    width: 100%;
}

.img-hero {
    height: 100%;
    z-index: 2;
}

.hero-tagline h1 {
    color: white;
    font-weight: 700;
    font-size: 52px;
}

.hero-tagline p {
    color: white;
    font-size: 16px;
    margin-bottom: 60px;
    margin-top: 20px;
}

.button-lg-primary {
    width: 237px;
    height: 70px;
    background-color: white;
    color: var(---pr-color);
    border: none;
    font-size: 20px;
    font-weight: 700;
}


/* Layanan Section */

#layanan {
    padding: 120px 0;
}

h2 {
    font-size: 48px;
    font-weight: 500;
    color: var(---pr-color);
}

.sub-title {
    font-size: 18px;
    color: black;
}

.card-layanan {
    width: 100%;
    margin-top: 50px;
    height: 313px;
    border-radius: 5px;
    background-color: white;
    padding: 40px;
    box-shadow: 0 0 50px 3px rgb(0, 0, 0, 0.09);
    transition: all .2s ease-in;
}

.circle-icon {
    width: 70px;
    height: 70px;
    background-color: var(---pr-color);
    border-radius: 50%;
    transition: all .1s ease-in;
}

.card-layanan h3 {
    color: var(---pr-color);
    font-size: 24 px;
    transition: all .2s ease-in;
}

.card-layanan p {
    color: var(---pr-color);
    font-size: 14 px;
    transition: all .3s ease-in;
}


/* hover */

.card-layanan:hover {
    width: 100%;
    height: 313px;
    border-radius: 5px;
    background-color: var(---pr-color);
    padding: 40px;
    box-shadow: 0 0 50px 3px rgb(0, 0, 0, 0.09);
    transition: all .2s ease-in;
}

.circle-icon:hover {
    width: 70px;
    height: 70px;
    background-color: var(---pr-color);
    border-radius: 50%;
    transition: all .1s ease-in;
}

.card-layanan:hover h3 {
    color: white;
    font-size: 24 px;
    transition: all .2s ease-in;
}

.card-layanan:hover p {
    color: white;
    font-size: 14 px;
    transition: all .3s ease-in;
}


/* search section */

#search {
    background-image: url(../Assets/img/search-bg.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#search h2 {
    font-size: 48px;
    font-weight: 600;
    color: white;
}

#search p {
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.input-cari {
    height: 88px;
    font-size: 30px;
}

.input-cari:focus {
    border: none;
}

.input-cari .button-primary {
    height: 75px;
    background-color: var(---pr-color);
    color: white;
    border: none;
    font-size: 30px;
    font-weight: 500;
}


/* section rekomendasi */

.card {
    height: 475px;
    box-shadow: 0 0 50px 3px rgb(0, 0, 0, 0.06);
}

.card h4 {
    color: var(---pr-color);
    font-size: 24px;
    font-weight: 600;
    line-height: 8rems;
}

.card p {
    font-size: 16px;
    font-weight: 500;
}

.status {
    color: crimson;
}


/* hover */

.card:hover {
    background-color: var(---pr-color);
}

.card:hover h4 {
    color: white;
    font-size: 24px;
    font-weight: 600;
    line-height: 8rems;
    margin-top: 2px;
}

.card:hover p {
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.card:hover span {
    color: white;
}

.card-fasilitas p {
    font-size: 14px;
    font-weight: 500;
    color: rgb(152, 150, 150);
}

.card-fasilitas span {
    font-size: 16px;
    font-weight: 600;
    color: black;
}


/* card fitur */

.button-fitur {
    width: 238px;
    height: 63px;
    background-color: var(---pr-color);
    border: none;
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.card-fitur h5 {
    color: white;
    font-size: 36px;
    font-weight: 600;
}

.card-fitur span {
    color: white;
    font-size: 14px;
}

.card-fitur h6 {
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.card-fitur button {
    background-color: var(---pr-color);
    color: white;
    border: none;
    width: 150px;
    height: 45px;
    font-size: 18px;
    font-weight: 500;
}

.card-fitur .overlay {
    background-color: rgb(0, 0, 0, 0);
    opacity: 0;
    transition: all ease-in-out .3s;
}

.card-fitur .overlay:hover {
    background-color: rgb(0, 0, 0, 0.6);
    opacity: 1;
}

.button-arrow-right {
    border: none;
    background-color: var(---pr-color);
    border-radius: 50%;
    width: 61px;
    height: 61px;
    padding: 0;
}

.button-arrow-left {
    border: none;
    background-color: var(---pr-color);
    border-radius: 50%;
    width: 61px;
    height: 61px;
    padding: 0;
}


/* information section */

#information {
    background-image: url(/Assets/img/bg-info.png);
    margin-top: 158px;
    background-size: cover;
    background-repeat: no-repeat;
}

#information .overlay {
    background: rgba(2, 57, 35, 0.49);
}

#information .container {
    padding: 148px 0 148px 0;
}

#information h3 {
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
}

.kontak h6 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 19px 0 14px 0;
}

.kontak a {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 14px;
}

.card-contact {
    width: 100%;
    height: 445px;
    background-color: white;
    border-radius: 5px;
    padding: 57px 48px;
}

.card-contact h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    color: #00985B;
    text-align: center;
    margin-bottom: 21px;
}

.form-control {
    height: 75px !important;
    background: #F1F0F0;
    border-radius: 0;
}

.form-floating label {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #717171;
}

.button-kontak {
    height: 75px;
    width: 100%;
    color: white;
    background: var(---pr-color);
    border: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

footer {
    width: 100%;
    height: 270px;
    background: #055837;
}

.copyrigth {
    bottom: 1%;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

footer a {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}

footer a:hover {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}